.link{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;
    transition: all 0.3s ease-in-out;
}



.dropdown{
    text-decoration: none;
    background-color: transparent;
    border: none;
}

/* button{
    background-color: transparent;
    border: none;
} */

.buttonProfile{
    background-color: transparent;
    border: none;
}

.titlePage{
    font-size: 3rem;
}

.lupa{
    margin-top: 17%;
}
.explore{
    margin-top: 17%;
    font-size: 1.4rem;
}